<div class="row">
<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center">Train Alert project</h1>
	<p>This is a project created by Evgeniy Sushko.</p>
	<p>It provides an ability to check for available tickets on <a href="http://booking.uz.gov.ua/" target="_blank">Ukrzaliznytsia</a> and request email notifications 
	when new places become available.</p>
	<p>Users can request notifications about free places for the specified direction or train. 
	The service will check for tickets every 15 minutes.</p>
	<h3>Used technologies:</h3>
	<ul>
		<li>Spring MVC</li>
		<li>Spring Data</li>
		<li>Hibernate</li>
		<li>MySQL database</li>
		<li>Quartz</li>
		<li>AngularJS</li>
	</ul>

</div>
</div>