<div class="row">
<div class="col-md-6 col-md-offset-3">
	<h1 class="text-center">Проект Train Alert</h1>
	<p>Цей проект розроблений Євгенієм Сушко</p>
	<p>Він надає можливість перевіряти наявність квитків на сайті <a href="http://booking.uz.gov.ua/" target="_blank">Укрзалізниці</a> та створювати запити на email-поідомлення, 
	коли з'являються нові квитки.</p>
	<p>Користувач може створювати запити для напрямку загалом, та на конкретний потяг, із зазначенням необхідного типу місць. Сервіс перевірятиме наявність квитків кожні 15 хвилин.</p>
	<h3>Використані технології:</h3>
	<ul>
		<li>Spring MVC</li>
		<li>Spring Data</li>
		<li>Hibernate</li>
		<li>MySQL database</li>
		<li>Quartz</li>
		<li>AngularJS</li>
	</ul>
	<h2>Увага:</h2>
	<p>Сервіс може бути тимчасово недоступний через неочікувані зміни в API Укрзалізниці.</p>
</div>
</div>