<style type="text/css">
.red {
	color: red;
	font-size: 200%
}

.grey {
	color: grey;
	font-size: 200%
}

.green {
	color: green;
	font-size: 200%
}

td {
	vertical-align: middle
}
</style>

<div class="row">
<span us-spinner="{radius:30, width:8, length: 36}"></span>
	<div class="col-md-6 col-md-offset-3">
		<h3 class="text-center">Мої запити</h3>
		<br />
		<div>
			Ви будете отримувати повідомлення про нові квитки на Вашу пошту <b>{{userInfo.email}}</b><br />
			Ми перевірятимемо наявність квитків кожні 15 хвилин.
		</div>
		<br />
		<label><input type="checkbox" ng-model="showExpired"> Показувати прострочені</label><br />
		<label><input type="checkbox" ng-model="showInactive"> Показувати неактивні</label>
		</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		
		<div class="bordered pad-6">
			<table class="table table-hover"
				ng-show="requests != null && requests.length > 0">
				<thead>
					<tr>
						<th style="text-align: center;">Напрямок</th>
						<th style="text-align: center;">Потяг #</th>
						<th style="text-align: center;">Дата подорожі</th>
						<th style="text-align: center;">Вибрані типи місць</th>
						<th style="text-align: center;">Останнє оновлення</th>
						<th style="text-align: center;">Статус</th>
						<th style="text-align: center;"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="request in requests" ng-click="showDetails(request)" ng-hide="(!showExpired && request.expired) || (!showInactive && !request.active && !request.expired)"
						ng-class="{'highlight': request.id == requestDetails.id}">
						<td style="text-align: center">{{request.request.from.stationName}}
							- {{request.request.to.stationName}}</td>
						<td style="text-align: center">{{request.trainNum | train}}</td>
						<td style="text-align: center">{{request.request.tripDate | date: 'dd-MM-yyyy'}}</td>
						<td>
							<ul>
								<li ng-repeat="type in getTypesAsArray(request.placeTypes)">{{type | placeType}}</li>
							</ul>							
						</td>
						<td style="text-align: center">{{request.request.lastResponse.time | date: 'dd-MM-yyyy HH:mm:ss' | noUpdate}}</td>
						<td style="text-align: center;"><span
							ng-class="{'glyphicon glyphicon-ok green': request.active && !request.expired, 
										'glyphicon glyphicon-remove red': !request.active && !request.expired, 
										'glyphicon glyphicon-ban-circle grey': request.expired}"	
											
							aria-hidden="true"></span><br/>
							<span ng-show="!request.expired">{{request.active | checkStatus}}</span>
							<span ng-show="request.expired">Прострочений</span>
							
							</td>
						<td>
							<button style="width: 100%" type="button"
								ng-click="changeStatus(request.id)" class="btn btn-success"
								ng-show="!request.active && !request.expired">
								<span class="glyphicon glyphicon-refresh" aria-hidden="true"
									style="margin-right: 10px"></span>Активувати
							</button>
							<button style="width: 100%" type="button"
								ng-click="changeStatus(request.id)" class="btn btn-danger"
								ng-show="request.active && !request.expired">
								<span class="glyphicon glyphicon-flash" aria-hidden="true"
									style="margin-right: 10px"></span> Деактивувати
							</button>
						</td>


					</tr>
				</tbody>
			</table>
			<div style="text-align: center"
				ng-hide="requests != null && requests.length > 0">
				У Вас поки немає запитів. <a href="#/stations">Натисніть сюди для пошуку потягів та створення запиту</a>
			</div>
		</div>
	</div>
</div>