<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<span us-spinner="{radius:30, width:8, length: 36}"></span>
		<div class="alert alert-danger" ng-show="pw_not_match">Паролі не співпадають.</div>
		<div class="alert alert-danger" ng-show="error">Сталася помилка. Спробуйте ще раз.</div>
		<div ng-show="pw_ok">
			<h2>Пароль успішно змінено!!</h2>
			<p>
				Тепер Ви можете <a href="#/login">увійти</a> використовуючи ваші дані для входу.
			</p>
		</div>
		<div ng-show="wrongLink">
			<h2>Посилання невірне!</h2>
			<p>
				Перевірте адресу посилання або <a href="#/resetpass">запросіть</a> нове.
			</p>
		</div>


		<form role="form" ng-submit="setPass()" ng-hide="pw_ok" ng-show="!error && !wrongLink">
			<h2>Встановіть новий пароль:</h2>
			<br />
			<div class="form-group">
				<label for="password">Новий пароль:</label> <input type="password"
					class="form-control" id="password" name="password"
					ng-model="pass1" required autocomplete="off" />
			</div>
			<div class="form-group">
				<label for="password_2">Підтвердження пароля:</label> <input type="password"
					class="form-control" id="password_2" name="password_2"
					ng-model="pass2" required autocomplete="off" />
			</div>
			<button type="submit" class="btn btn-primary">Встановити новий пароль</button>
		</form>
	</div>
</div>