<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<span us-spinner="{radius:30, width:8, length: 36}"></span>
		<div class="alert alert-danger" ng-show="formError">Всі поля є необхідними. Заповніть всі, будь ласка.</div>
		<div class="alert alert-danger" ng-show="usernameBusy">Вказаний логін зайнятий. Спробуйте, будь ласка, інший.</div>
		<div class="alert alert-danger" ng-show="registerFailed">Сталася помилка. Спробуйте ще раз.</div>
		<div ng-show="registerSuccess">
			<h2>Регістрація успішна!!</h2>
			<p>
				Тепер Ви можете <a href="#/login">увійти</a> використовуючи ваші дані для входу.
			</p>
		</div>


		<form role="form" ng-submit="register()" ng-hide="registerSuccess">
			<h2>Регістрація нового користувача</h2>
			<br />
			<div class="form-group">
				<label for="username">Логін:</label> <input type="text"
					class="form-control" id="username" name="username"
					ng-model="user.username" required autocomplete="off" />
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" name="email" ng-model="user.email"
					required autocomplete="off" />
			</div>
			<div class="form-group">
				<label for="password">Пароль:</label> <input type="password"
					class="form-control" id="password" name="password"
					ng-model="user.password" required autocomplete="off" />
			</div>
			<button type="submit" class="btn btn-primary">Зареєструйте мене!</button>
		</form>
	</div>
</div>