<div class="row">
	<span us-spinner="{radius:30, width:8, length: 36}"></span>
	<div class="col-md-6 col-md-offset-3">
		<div class="alert alert-danger" style="vertical-align: middle;" ng-show="noSuchUser">
			No such user found.
		</div>
		<div class="alert alert-danger" style="vertical-align: middle;" ng-show="serverError">
			Server error. Please, try again later.
		</div>
		<div class="alert alert-success" style="vertical-align: middle;" ng-show="done">
			<b>Success!</b> Reset link was send to your email. 
		</div>
		<form class="form-horizontal" name="resetForm" ng-submit="resetPass()" novalidate>
			<label>Please, type your login: <input id="login" class="form-control" type="text" ng-model="login" required" /></label>
			<button type="submit" class="btn btn-info">Submit</button>
		</form>
	</div>
</div>