<div class="row">
<div class="col-md-4 col-md-offset-4">
	<span us-spinner="{radius:30, width:8, length: 36}"></span>
	<h1 class="text-center">Search for tickets on UzGovUa</h1>
	<div class="alert alert-info" style="vertical-align: middle;">
		<!-- <span class=" glyphicon glyphicon-info-sign"  aria-hidden="true"></span> --> 
		<img alt="Info" src="resources/images/info-sign.png" style="width: 5%; height: 5%; margin-right: 10px"> Please, enter stations names in <span style="color: red; font-weight: bold">Ukrainian</span>.
	</div>
	<form class="form-horizontal" name="requestForm" ng-submit="sendRequest()" novalidate>
		<h4>Origin:</h4>
		<div class="form-group" ng-class="{ 'has-error' : requestForm.from.$error.required && !requestForm.from.$pristine }">
			<input id="from" name="from" type="text" ng-model="fromStation" placeholder="From station"
				uib-typeahead="s for s in getFilteredStations($viewValue)"
				typeahead-min-length="2" class="form-control" required autocomplete="off" />
			<span ng-show="requestForm.from.$error.required && !requestForm.from.$pristine"
					class="help-block">Please, select station from dropdown list.</span>
		</div>
		<h4>Destination: <a class="btn btn-default" role="button" ng-click="swapStations()" ng-disabled="fromStation == null && toStation == null">Swap stations</a>
		<a class="btn btn-default" role="button" ng-click="testStations()">Test stations</a></h4>
		<div class="form-group" ng-class="{ 'has-error' : requestForm.to.$error.required && !requestForm.to.$pristine }">
			<input id="to" name="to" type="text" ng-model="toStation" placeholder="To station"
				uib-typeahead="s for s in getFilteredStations($viewValue)"
				typeahead-min-length="2" class="form-control" required autocomplete="off" />
			<span ng-show="requestForm.to.$error.required && !requestForm.to.$pristine"
					class="help-block">Please, select station from dropdown list.</span>
		</div>
		
		<h4>Trip date</h4>
		<div class="row">
			<div >
				<p class="input-group">
					<input id="calendar" type="text" class="form-control"
						uib-datepicker-popup="dd.MM.yyyy" ng-model="dt"
						is-open="status.opened" min-date="minDate" max-date="maxDate"
						datepicker-options="dateOptions" ng-required="true"
						close-text="Close" required /> 
					<span class="input-group-btn">
						<button type="button" class="btn btn-default"
							ng-click="open($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>

		<button class="btn btn-info" type="submit" ng-disabled="requestForm.$invalid">Search!</button>
		
		<a class="btn btn-default" role="button" ng-click="requestAlert()" ng-disabled="requestForm.$invalid">Create
			alert for this search</a>
	</form>
	<br/>
	<div class="alert alert-info" role="alert" ng-show="errorMsg != null">{{errorMsg}}</div>
	
	<table class="table table-striped table-hover"
		ng-show="trains.length > 0">
		<thead>
			<tr>
				<th style="text-align: center; width: 25px;">Train #</th>
				<th style="text-align: center;">Direction</th>
				<th style="text-align: center;">Places</th>
				<th style="text-align: center;"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="train in trains">
				<td style="text-align: center; vertical-align: middle" width="10%">{{train.num}}</td>
				<td style="vertical-align: middle" width="50%">{{train.from.station}}
					- {{train.till.station}}</td>
				<td style="white-space: nowrap;">
					<ul>
						<li ng-repeat="place in train.types">{{place.title}} -
							{{place.places}}</li>
					</ul>
				</td>
				<td><button class="btn btn-default"
						onclick="alert('Work in progress')">Create alert</button></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>