/* app css stylesheet */

#wrapper {
    margin: 0 auto;
    width: 650px;
    margin-top: 50px;
}

#footer {text-align: center; border-top: 1px solid #EEE; margin-top: 20px; color: #444;}

.col-centered{
    float: none !important;
    margin: 0 auto;
}

.top-buffer { margin-top:50px; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ccf5ff;
}

.fix{
  position:absolute;
  top: 10em;
}